/* Basic reset */
* {
    font-family: "JetBrains Mono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    border: none;
    border-radius: 0;
    padding-left: 4px;
    padding-right: 4px;
}

window#waybar {
    background-color: rgba(40, 42, 54, 0.7);
    border-radius: 0px;
    color: #f8f8f2;
    transition-property: background-color;
    transition-duration: .5s;
}

/* Individual Module Styling */
#workspaces button {
    padding: 0 0px;
    background-color: transparent;
    color: #f8f8f2;
}

#workspaces button.active {
    color: #bd93f9;
    border-top: 2px solid #bd93f9;
}

#window {
    padding-left: 10px;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#temperature,
#bluetooth,
#pulseaudio,
#tray {
    padding: 0 10px;
    margin: 4px 2px;
    background-color: rgba(68, 71, 90, 0.5);
    border-radius: 8px;
}

/* Color accents for specific modules */
#clock { color: #bd93f9; }
#battery.charging { color: #50fa7b; }
#battery.warning:not(.charging) { color: #ff5555; }
#cpu { color: #8be9fd; }
#memory { color: #ffb86c; }
