
@keyframes blink-warning {
    70% {
        color: @light;
    }

    to {
        color: @light;
        background-color: @warning;
    }
}

@keyframes blink-critical {
    70% {
      color: @light;
    }

    to {
        color: @light;
        background-color: @critical;
    }
}


/* -----------------------------------------------------------------------------
 * Styles
 * -------------------------------------------------------------------------- */

/* COLORS */

/* Gruvbox */
@define-color bg #1d2021;
@define-color light_bg #504945;
@define-color lighter_bg #665c54;
@define-color light #ebdbb2;
@define-color warning #d79921;
@define-color critical #fb4934;
@define-color mode #d3869b;
@define-color workspacesfocused #458588;
@define-color tray @workspacesfocused;
@define-color sound #fe8019;
@define-color network #8ec07c;
@define-color memory #83a598;
@define-color cpu #d3869b;
@define-color temp #fabd2f;
@define-color layout #b16286;
@define-color battery #d65d0e;
@define-color date #98971a;
@define-color time #d79921;
@define-color backlight #458588;
@define-color nord_bg #b16286;
@define-color nord_bg_blue #689d6a;
@define-color nord_light #d5c4a1;
@define-color nord_light_font #ebdbb2;
@define-color nord_dark_font #1d2021;

/* Reset all styles */
* {
    border: none;
    border-radius: 0px;
    min-height: 0;
    margin: 0.2em 0.3em 0.2em 0.3em;
}

/* The whole bar */
#waybar {
    background: @bg;
    color: @light;
    font-family: "JetBrains Mono Nerd Font", "Font Awesome 5 Pro";
    font-size: 12px;
    font-weight: bold;
}

/* Each module */
#battery,
#clock,
#cpu,
#custom-layout,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#custom-alsa,
#custom-pacman,
#custom-weather,
#custom-gpu,
#tray,
#backlight,
#language,
#custom-cpugovernor {
    padding-left: 0.6em;
    padding-right: 0.6em;
}

/* Each module that should blink */
#mode,
#memory,
#temperature,
#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Each critical module */
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical {
    color: @critical;
}

/* Each critical that should blink */
#mode,
#memory.critical,
#temperature.critical,
#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning {
    background: @warning;
    color: @nord_dark_font;
}

/* Each warning that should blink */
#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

/* And now modules themselves in their respective order */

#mode { /* Shown current Sway mode (resize etc.) */
    color: @light;
    background: @mode;
}

/* Workspaces stuff */

#workspaces {
    margin-right: 0px;
    padding-right: 0px;
 /*   color: #D8DEE9;
    margin-right: 10px;*/
}

#workspaces button {
    font-weight: bold; /* Somewhy the bar-wide setting is ignored*/
    padding: 0;
    color: #928374;
    opacity: 1;
    background: none;
    font-size: 1em;
}

#workspaces button.focused {
    background: @workspacesfocused;
    color: #d5c4a1;
    opacity: 1;
    padding: 0 0.4em;
}

#workspaces button.urgent {
    border-color: #fb4934;
    color: #fb4934;
    opacity: 1;
}

#workspaces button.active {
    color: #d5c4a1;
}

#window {
    margin-right: 10px;
    margin-left: 20px;
    font-weight: normal;
}

#bluetooth {
    background: @light_bg;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0 0.6em;
}
#custom-gpu {
    background: @nord_bg;
    font-weight: bold;
    padding: 0 0.6em;
}
#custom-weather {
    background: @mode;
    font-weight: bold;
    padding: 0 0.6em;
}
#custom-pacman {
    background: @nord_light;
    color: @nord_dark_font;
    font-weight: bold;
    padding: 0 0.6em;
}
#custom-scratchpad-indicator {
    background: @nord_light;
    color: @nord_dark_font;
    font-weight: bold;
    padding: 0 0.6em;
}
#idle_inhibitor {
    background: @mode;
    /*font-size: 1.6em;*/
    font-weight: bold;
    padding: 0 0.6em;
}
#custom-alsa {
    background: @sound;
}

#network {
    background: @light_bg;
}

#memory {
    background: @memory;
}

#cpu {
    background: @lighter_bg;
    color: #d5c4a1;
}
#cpu.critical {
    color: @nord_dark_font;
}
#language {
    background: @light_bg;
    color: #d5c4a1;
    padding: 0 0.4em;
}
#custom-cpugovernor {
    background-color: @lighter_bg;
    color: @nord_dark_font;
}
#custom-cpugovernor.perf {
    
}
#temperature {
    background-color: @lighter_bg;
    color: #d5c4a1;
}
#temperature.critical {
    background:  @critical;
}
#custom-layout {
    background: @layout;
}

#battery {
    background: @battery;
}

#backlight {
    background: @backlight;
}

#clock {
    background: @light_bg;
    color: #d5c4a1;
}
#clock.date {
    background: @date;
}

#clock.time {
    background: @mode;
}

#pulseaudio { /* Unsused but kept for those who needs it */
    background: @light_bg;
    color: #d5c4a1;
}

#pulseaudio.muted {
    background: #fb4934;
    color: #fb4934;
    /* No styles */
}
#pulseaudio.source-muted {
    background: #fe8019;
    color: #d5c4a1;
    /* No styles */
}
#tray {
    background: #928374;
}